doctype html
html(lang='en')
 head
   title  hello pushkar
 body
   h1 hey pushkar
   div.remark
     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, ad, sequi debitis quaerat laudantium ea ducimus illum hic voluptatum quo possimus itaque aspernatur?